<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}">Archive</a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}">About</a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}">RSS</a>
<a href="ricothaka.github.io/blog/" id="current" alt="My Resume!">HomE</a>
<a href="https://ricothaka.github.io/blog/" alt="My Name is Thaka ppl usd to call me Rashard and this is My blog">BLoG</a>
<a href="https://ricothaka.github.io/marsblog.html" alt="Mars Reconissince Orbiter is my job to help maintain for the us government and our global allies, we r a fun bunch">MarsNotes</a>>
<a href="https://ricothaka.github.io/cv/" alt="My Resume!">ResumE</a>
<a href="https://ricothaka.github.io/Contact.html">SocialS</a>
  